:host {
  .footer-buttons-container {
    position: fixed;
    bottom: 16px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 8px;
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background: #09467f;
      border: solid #fff 1px !important;
      color: #fff;
      border-radius: 100%;
      font-weight: 600;
      letter-spacing: 2px;
      border: none;
      margin-top: 8px;
      margin-right: 0;
      cursor: pointer;
      img {
        width: 60%;
      }
    }
  }

  @media (display-mode: standalone) {
    .download {
      display: none;
    }
  }
}
