<div class="footer-buttons-container">
  <!-- *ngIf="deferredPrompt && token?.length" -->
  <button
    *ngIf="token?.length"
    class="footer-buttons-container__button download"
    (click)="downloadPWA()"
  >
    <img src="./assets/download.svg" alt="download" />
  </button>
  <button
    *ngIf="!isPermissionNotifications && token?.length"
    class="footer-buttons-container__button"
    (click)="requestPermission()"
    value="click to copy"
  >
    <img src="./assets/notification.svg" alt="notification" />
  </button>
</div>
