:host {
  .snack-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      color: #323232;
    }
    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 8px;
    }
  }
}
