<div class="woocommerce-MyAccount-content">
    <h2>{{currentPage.name}}</h2>
    <!-- <p>{{currentPage.description}}</p> -->
    <div style="display: flex;justify-content: center;">
        <div class="card-container">
            <div class="card-container__header">
                <img src="../../../../assets/logo.svg" alt="Логотип карта">
                <span *ngIf="accountData">#{{accountData.CardNumber}}</span>
            </div>
            <div class="card-container__decorative-pattern">
                <div class="imgs-row"></div>
                <div class="imgs-row" style="background-position-x: -22px;"></div>
                <div class="imgs-row"></div>
            </div>
            <div class="card-container__content">
                <div class="info" *ngIf="accountData">
                    <div class="row">
                        <span class="key">Имя</span>
                        <span class="value" *ngIf="accountData.BonusProgramName">{{accountData.BonusProgramName}}</span>
                        <span class="value" *ngIf="!accountData.BonusProgramName">Не задано</span>
                    </div>
                    <div class="row">
                        <span class="key">Баланс карты</span>
                        <span class="value">{{accountData.Bonuses}}</span>
                    </div>
                </div>
                <div class="card-container__barcode-container">
                    <svg id="barcode"></svg>
                </div>
            </div>
        </div>
    </div>
    <!-- <div [ngClass]="{
        'card-content': true,
        'active_back': isCardBack
    }" (click)="rotateCard()">
        <div class="card-content__front">
            <p-progressSpinner
                *ngIf="loadingBonuses"
                [style]="{ width: '100%', height: '100%' }"
                strokeWidth="2"
                styleClass="angular-spinner"
            ></p-progressSpinner>
            <div *ngIf="!loadingBonuses">
                <div class="card-content__logo">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" style="height: 100%; width: fit-content;"
                    width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                    preserveAspectRatio="xMidYMid meet">
    
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                    fill="#03d1be" stroke="none">
                    <path d="M530 4151 c-55 -17 -110 -52 -144 -93 -70 -81 -66 5 -66 -1499 0
                    -1547 -7 -1422 86 -1516 90 -91 -109 -83 2154 -83 2211 0 2056 -5 2138 66 24
                    20 55 59 70 88 l27 51 0 1395 0 1395 -27 50 c-31 59 -67 94 -128 126 l-45 24
                    -2020 2 c-1111 1 -2031 -2 -2045 -6z m3876 -327 c57 -27 74 -74 74 -199 l0
                    -105 -1920 0 -1920 0 0 108 c0 124 15 166 71 194 32 17 141 18 1847 18 1660 0
                    1817 -1 1848 -16z m74 -1852 c0 -550 -1 -589 -18 -621 -10 -19 -34 -43 -53
                    -53 -32 -17 -110 -18 -1849 -18 -1708 0 -1817 1 -1850 18 -72 35 -70 17 -70
                    675 l0 587 1920 0 1920 0 0 -588z"/>
                    <path d="M960 2000 l0 -80 960 0 960 0 0 80 0 80 -960 0 -960 0 0 -80z"/>
                    <path d="M3520 1840 l0 -240 320 0 320 0 0 240 0 240 -320 0 -320 0 0 -240z"/>
                    <path d="M960 1680 l0 -80 480 0 480 0 0 80 0 80 -480 0 -480 0 0 -80z"/>
                    </g>
                    </svg>
                    <h3 class="title">Card Project</h3>
                </div>
                <div class="card-content__footer">
                    <div class="card-content__number">
                        <span>#{{accountData.CardNumber}}</span>
                    </div>
                    <div class="card-content__bonuses">
                        <span>Доступно:
                            <span class="count">
                                {{accountData.Bonuses}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content__back">
            <div class="card-content__barcode-container">
                <svg id="barcode"></svg>
            </div>
        </div>
    </div> -->
</div>
