<div class="woocommerce-MyAccount-content">
  <h2>{{ currentPage.name }}</h2>
  <!-- <p>{{currentPage.description}}</p> -->
  <div style="display: flex; justify-content: center">
    <div class="card-container">
      <div class="card-container__header">
        <img src="./assets/logo.svg" alt="Логотип карта" />
        <span *ngIf="accountData">#{{ accountData.CardNumber }}</span>
      </div>
      <div class="card-container__decorative-pattern">
        <!-- <div class="imgs-row"></div>
                <div class="imgs-row" style="background-position-x: -22px;"></div>
                <div class="imgs-row"></div> -->
        <img src="./assets/card-decorative-pattern.svg" alt="" />
      </div>
      <div class="card-container__content">
        <div class="info">
          <div *ngIf="accountData" class="row">
            <span class="key">Имя</span>
            <span class="value" *ngIf="userName.length">{{
              userName
            }}</span>
            <span class="value" *ngIf="!userName.length"
              >Не задано</span
            >
          </div>
          <div *ngIf="accountData" class="row">
            <span class="key">Баланс карты</span>
            <span class="value">{{ accountData.Bonuses }}</span>
          </div>
        </div>
        <div class="card-container__barcode-container">
          <svg
            id="barcode"
            [ngClass]="{
              hidden: loadingBonuses
            }"
          ></svg>
          <p-progressSpinner
            *ngIf="loadingBonuses"
            [style]="{ width: '100%' }"
            [ngStyle]="{width: '90px'}"
            strokeWidth="2"
            styleClass="angular-spinner"
          ></p-progressSpinner>
        </div>
      </div>
    </div>
  </div>
</div>
