<div class="product-modal">
    <img *ngIf="!product.image" src="./assets/no-image.png" alt="{{product.name}}">
    <img *ngIf="product.image" src="{{product.image}}" alt="{{product.name}}">

    <div class="product-modal__modifiers-container">
        <ng-container *ngIf="product.modifiers_group.length">
            <div *ngFor="let modifierGroup of modifiersFilter()" [attr.isShow]="false" class="product-modal__modifier" #modifierContainer>
                <a (click)="setOptionsView($event, modifierContainer)">
                    {{modifierGroup.name}}
                    <span [ngClass]="{
                        'product-modal__modifier-icon': true,
                        'isShow': getIsShow(modifierContainer)
                      }"></span>
                </a>
                <div [ngClass]="{
                    'options-container': true,
                    'isShow': getIsShow(modifierContainer)
                  }">
                    <app-checkbox-group [modifier]="modifierGroup" [options]="optionsFilter(modifierGroup)"
                        currencySymbol="₽" [selectedOptions]="selectedOptions(modifierGroup)"
                        (toggle)="addOption(modifierGroup, $event)">
                    </app-checkbox-group>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="product-modal__footer">
        <span class="product-modal__footer-price">{{product.price}}₽</span>
        <button class="product-modal__add-to-cart" (click)="addToCart($event)">
            Добавить
        </button>
    </div>
</div>