<div class="ref-system">
  <qrcode
    *ngIf="!loading"
    [qrdata]="refUrl"
    [width]="256"
    [errorCorrectionLevel]="'M'"
  ></qrcode>
  <p-progressSpinner
    *ngIf="loading"
    [style]="{ width: '100%' }"
    strokeWidth="2"
    styleClass="angular-spinner"
  ></p-progressSpinner>
  <!-- <share-buttons
    [theme]="'modern-dark'"
    [include]="['telegram', 'whatsapp', 'vk', 'copy', 'facebook', 'twitter']"
    [show]="4"
    [url]="refUrl"
    style="display: flex; justify-content: center;"
  ></share-buttons> -->
  <div class="share-container" *ngIf="!loading">
    <div class="copy" type="button" (click)="copyUrl()">Скопировать ссылку</div>
    <div class="share" type="button" (click)="share()"><img src="./assets/share.svg" alt="share"></div>
  </div>
</div>
