:host {
    .change-quantity {
        border: 1px solid #dfdee2;
        border-radius: 1.125rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        height: 100%;
        min-width: 100px;
        padding: 0 8px;

        button {
            background: #ffffff;
            border: 0;
            font-size: 28px;
            font-weight: 300;
            &:disabled {
                opacity: 0.3;
            }
        }
    }
}