<form class="woocommerce-form woocommerce-form-login login" action="false" (ngSubmit)="saveData()"
    [formGroup]="userDataFormGroup">
    <h2>Личные данные</h2>
    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
        <label for="phone">Заполните поля анкеты</label>
        <input formControlName="name" pInputText type="text"
            class="woocommerce-Input woocommerce-Input--text input-text" name="name" id="name" placeholder="Имя" />
    </p>
    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
        <input formControlName="birthdate" pInputText type="text"
            class="woocommerce-Input woocommerce-Input--text input-text" name="birthdate" id="birthdate"
            placeholder="Дата рождения (00.00.00)" />
    </p>
    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
        <select formControlName="gender" name="gender" id="gender" required>
            <option value="" disabled selected>Выберите пол</option>
            <option value="Мужской">Мужской</option>
            <option value="Женский">Женский</option>
        </select>
    </p>
    <p class="form-row" style="margin-bottom: 6px;">
        <button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="save"
            value="Сохранить" [disabled]="false">
            Сохранить
        </button>
    </p>
    <span class="policy">Нажимая кнопку, Вы соглашаетесь с Политикой
        обработки персональных данных.</span>
    <div class="decoration-pattern">
        <img style="height: 34px;" src="../../../../assets/card-decorative-pattern.svg" alt="">
        <img style="height: 16px; margin-left: 2px;" src="../../../../assets/card-decorative-pattern.svg" alt="">
    </div>
</form>