:host {
  .woocommerce {
    min-height: calc(100vh - 39px);
    padding: 20px 18px;
    position: relative;

    &.auth-page {
    }

    .main-menu-container {
      max-width: 600px;
      height: 50px;
      margin: -20px auto 0 auto;

      ul {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        font-size: 14px;
        padding: 0 16px;

        li {
          width: 100%;
          text-align: center;
          border-right: solid #e1e1e1 1px;
          padding: 8px 0;
          cursor: pointer;

          &.is-active {
            background: #0d457e;
            color: #fff;
          }

          &.cart {
            position: relative;

            &::before {
              content: attr(data-counter);
              color: #fff;
              position: absolute;
              right: 3px;
              top: 1px;
              background: #D7120B;
              border-radius: 50px;
              min-width: 1.2rem;
              line-height: 1.2rem;
              font-size: .8rem;
              text-align: center;
            }
          }
        }
      }
    }

    .account-page {
      nav {
        margin-bottom: 24px;
        margin-top: 26px;
        display: flex;
        justify-content: center;

        ul {
          max-width: 400px;
          width: 100%;
          border-radius: 6px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          li {
            padding: 12px;
            width: 100%;
            text-align: center;
            cursor: pointer;
            height: 81px;
            margin-bottom: 10px;
            background: #ffffff;
            box-shadow: 0px 0px 5px rgb(0 0 0 / 15%);
            color: #000;
            border-radius: 15px;

            &.is-active {
              border: solid #09467f 1px;
              // display: none;
            }

            &.first {
              // border-radius: 7px 0 0 7px;
            }

            .container {
              display: flex;
              align-items: center;
              height: 100%;

              .menu-item-info {
                margin-left: 16px;

                &>a {
                  font-style: normal;
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 22px;
                  text-decoration: none;
                  color: #000;
                  display: block;
                  text-align-last: left;
                }

                &>p {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 15px;
                  text-align: left;
                }
              }
            }
          }

          li:nth-child(odd) {
            background-color: #ebebeb;
          }
        }
      }
    }

    .top-left-attribute {
      width: 10px;
      height: 5px;
      background: #09467f;
      left: 0;
      position: absolute;
      top: 69px;
    }

    .version {
      opacity: 0.5;
      position: absolute;
      bottom: 12px;
    }
  }
}