<ng-container
  *ngIf="orders.length !== 0 && !ordersLoadingStatus && selectedOrder === null"
>
  <app-order-info [order]="orders[0]!" [loadingStatus]="true"></app-order-info>
</ng-container>
<div
  *ngIf="selectedOrder === null; else orderInfo"
  class="woocommerce-MyAccount-content"
>
  <table
    class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table"
  >
    <thead>
      <tr>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"
        >
          <span class="nobr">Заказ</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"
        >
          <span class="nobr">Дата</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status"
        >
          <span class="nobr">Статус</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total"
        >
          <span class="nobr">Итого</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"
        >
          <span class="nobr">Действия</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let order of ordersShortArray"
        class="woocommerce-orders-table__row woocommerce-orders-table__row--status-processing order"
      >
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number"
          data-title="Заказ"
        >
          <a href="#" (click)="showOrderDetails($event, order.id)">{{
            order.id
          }}</a>
        </td>
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date"
          data-title="Дата"
        >
          <time [dateTime]="order.date_created">{{
            moment(order.date_created).format("DD.MM.YYYY")
          }}</time>
        </td>
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status"
          data-title="Статус"
        >
          {{ formatStatus(order.status) }}
        </td>
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total"
          data-title="Итого"
        >
          <span class="woocommerce-Price-amount amount"
            ><span class="woocommerce-Price-currencySymbol">{{
              order.currency_symbol
            }}</span
            >{{ order.total }}</span
          >
        </td>
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions"
          data-title="Действия"
        >
          <a
            href="#"
            class="woocommerce-button button view"
            (click)="showOrderDetails($event, order.id)"
            >Просмотр</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <p
    *ngIf="orders.length !== ordersShortArray.length"
    class="show-more-orders"
    (click)="getMoreOrders()"
  >
    Показать больше
  </p>
  <div
    *ngIf="ordersLoadingStatus"
    class="angular-spinner-container"
    style="width: 100%; height: 100%; position: static"
  >
    <p-progressSpinner styleClass="angular-spinner"></p-progressSpinner>
  </div>
  <p
    *ngIf="orders.length === 0 && !ordersLoadingStatus"
    style="width: 100%; text-align: center"
  >
    Нет заказов
  </p>
</div>

<ng-template #orderInfo>
  <app-order-info [order]="selectedOrder!"></app-order-info>
</ng-template>
