<!-- <app-date-filter
  [options]="dateFilterOptions"
  [defaultFilterType]="defaultFilterType"
  (onSubmitFilter)="dateFilter($event)"
></app-date-filter> -->

<div class="orders">
  <!-- <h2>{{ currentPage.name }}</h2> -->
  <table
    class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table"
  >
    <thead>
      <tr>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"
        >
          <span class="nobr">Дата создания</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"
        >
          <span class="nobr">Номер заказа</span>
        </th>
        <!-- <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status"
        >
          <span class="nobr">Место покупки</span>
        </th> -->
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total"
        >
          <span class="nobr">Дата изменения</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-bonuses"
        >
          <span class="nobr">Статус</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"
        >
          <span class="nobr">Продукты</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let purchase of purchasesShortArray"
        class="woocommerce-orders-table__row woocommerce-orders-table__row--status-processing order"
      >
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date"
          data-title="Номер заказа"
        >
          <span>{{purchase.id}}</span>
        </td>
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date"
          data-title="Дата создания"
        >
          <time [dateTime]="purchase.dateCreated">{{
            moment(purchase.dateCreated).format("DD.MM.YYYY HH.mm")
          }}</time>
        </td>
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date"
          data-title="Дата изменения"
        >
          <time [dateTime]="purchase.dateChanges">{{
            moment(purchase.dateChanges).format("DD.MM.YYYY HH.mm")
          }}</time>
        </td>
        <!-- <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status"
          data-title="Место покупки"
        >
          {{ purchase.Address }}
        </td> -->
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total"
          data-title="Статус"
        >
          <span class="woocommerce-Price-amount amount">
            {{ purchase.status_name }}
          </span>
        </td>
        <td
          *ngIf="purchase.products"
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions"
          data-title="Продукты"
        >
          <button
            mat-stroked-button
            (click)="showPurchaseProducts(purchase.products)"
          >
            Посмотреть
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <p
    *ngIf="purchases.length !== purchasesShortArray.length && purchasesShortArray.length"
    class="show-more-orders"
    (click)="getMoreOrders()"
  >
    Показать больше
  </p>
  <!-- <p *ngIf="!purchasesShortArray.length && !ordersLoadingStatus" class="show-more-orders">
    Данные не найдены
  </p> -->
  <p-progressSpinner
    *ngIf="ordersLoadingStatus"
    [style]="{ width: '100%' }"
    strokeWidth="2"
    styleClass="angular-spinner"
  ></p-progressSpinner>
  <p
    *ngIf="purchases.length === 0 && !ordersLoadingStatus"
    style="width: 100%; text-align: center"
  >
    Нет заказов
  </p>
</div>
