<div class="orders">
  <table
    class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table"
  >
    <thead>
      <tr>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"
        >
          <span class="nobr">Дата</span>
        </th>
        <!-- <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status"
        >
          <span class="nobr">Место покупки</span>
        </th> -->
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total"
        >
          <span class="nobr">Сумма чека</span>
        </th>
        <th
          class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"
        >
          <span class="nobr">Бонусы</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let purchase of purchasesShortArray"
        class="woocommerce-orders-table__row woocommerce-orders-table__row--status-processing order"
      >
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date"
          data-title="Дата"
        >
          <time [dateTime]="purchase.transactionCreateDate">{{
            moment(purchase.transactionCreateDate).format("DD.MM.YYYY")
          }}</time>
        </td>
        <!-- <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status"
          data-title="Место покупки"
        >
          {{ purchase.Address }}
        </td> -->
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total"
          data-title="Сумма чека"
        >
          <span class="woocommerce-Price-amount amount">
            {{ purchase.orderSum }}
          </span>
        </td>
        <td
          class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions"
          data-title="Бонусы"
          [ngClass]="{
            'red-color': purchase.transactionSum ? purchase.transactionSum < 0 : false,
            'green-color': purchase.transactionSum ? purchase.transactionSum > 0 : false
          }"
        >
          {{ purchase.transactionSum }}
        </td>
      </tr>
    </tbody>
  </table>
  <p
    *ngIf="purchases.length !== purchasesShortArray.length"
    class="show-more-orders"
    (click)="getMoreOrders()"
  >
    Показать больше
  </p>
  <p-progressSpinner
    *ngIf="ordersLoadingStatus"
    [style]="{ width: '100%' }"
    strokeWidth="2"
    styleClass="angular-spinner"
  ></p-progressSpinner>
  <p
    *ngIf="purchases.length === 0 && !ordersLoadingStatus"
    style="width: 100%; text-align: center"
  >
    Нет заказов
  </p>
</div>
