<p-toast position="top-center"></p-toast>
<div *ngIf="!loading; else loadingEl" class="products-container">
    <div class="products-container__filters-container">
        <label>Категория</label>
        <p-treeSelect *ngIf="groups" [(ngModel)]="selectedGroup" [options]="groups"
            (onNodeSelect)="changeGroup()" (onNodeUnselect)="onGroupUnselect($event)" placeholder="Группа"></p-treeSelect>
        <label>Пункт выдачи</label>
        <p-treeSelect *ngIf="terminalList" [(ngModel)]="selectedTerminal" [options]="terminalList"
            (onNodeSelect)="changeTerminal()" (onNodeUnselect)="onTerminalUnselect($event)"
            placeholder="Пункт самовывоза" [disabled]="!!cartService.cartCount"></p-treeSelect>
    </div>
    <p-paginator [style]="{'background': 'transparent', padding: '8px 0'}" [alwaysShow]="false" [first]="currentPage" [rows]="8"
        [totalRecords]="filterByGroup().length" (onPageChange)="onPageChange($event)" [pageLinkSize]="3"
        [showPageLinks]="true"></p-paginator>
    <div class="products-container__items">
        <div *ngFor="let product of cropList(filterByGroup(), 8)" (click)="addToCart($event, product)" class="products-container__item">
            <img *ngIf="!product.image" src="./assets/no-image.png" alt="{{product.name}}">
            <img *ngIf="product.image" src="{{product.image}}" alt="{{product.name}}">
            <div class="products-container__name-container">
                <p>{{product.name}}</p>
                <span>{{product.price}}₽</span>
            </div>
            <button class="products-container__add-to-cart">В корзину</button>
        </div>
    </div>
    <p-paginator [style]="{'background': 'transparent', padding: '8px 0'}" [alwaysShow]="false" [first]="currentPage" [rows]="8"
        [totalRecords]="filterByGroup().length" (onPageChange)="onPageChange($event)" [pageLinkSize]="3"
        [showPageLinks]="true"></p-paginator>
    <p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="flex flex-column" style="flex: 1">
                <div class="text-center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4>{{message.summary}}</h4>
                    <p style="font-weight: 600;">{{message.detail}}</p>
                </div>
                <div class="grid p-fluid">
                    <div class="col-6">
                        <button type="button" pButton (click)="onConfirm()" label="Да"
                            class="p-button-success"></button>
                    </div>
                    <div class="col-6">
                        <button type="button" pButton (click)="onReject()" label="Нет"
                            class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-toast>
</div>
<ng-template #loadingEl>
    <div class="angular-spinner-container" style="width: fit-content; height: 100%; margin: 16px auto;">
        <p-progressSpinner styleClass="angular-spinner"></p-progressSpinner>
    </div>
</ng-template>