<p-toast position="top-center"></p-toast>
<div *ngIf="!loading; else loadingEl" class="products-container">
  <div class="products-container__filters-container">
    <div class="products-container__categories-container">
      <div
        *ngFor="let group of groups; let first = first"
        (click)="changeGroup(group)"
        [ngClass]="{
          'group-container': true,
          active: group.id === selectedGroup.id,
          'non-visible': first
        }"
      >
        <span>
          {{ group.name }}
        </span>
      </div>
    </div>
    <!-- <button mat-stroked-button [disabled]="!!cartService.cartCount" (click)="showTerminals()">
      {{ selectedTerminal.label }}
    </button> -->
  </div>
  <div
    *ngIf="selectedGroup && selectedGroup.name !== 'Все'"
    class="products-container__category-name-container"
  >
    <h1>{{ selectedGroup.name }}</h1>
    <div class="bread-crumbs">
      <span class="all" (click)="changeGroup(groups[0])">Все </span>
      >
      <span class="selected-category"> {{ selectedGroup.name }}</span>
    </div>
  </div>
  <ng-container *ngIf="selectedGroup && selectedGroup.name === 'Все'">
    <div
      *ngFor="let group of groups.slice(1)"
      [ngClass]="{
        'products-container__category-container': true
      }"
    >
      <div class="header">
        <h2>{{ group.name }}</h2>
        <button (click)="changeGroup(group)">В категорию</button>
      </div>
      <div class="products-container__items">
        <div
          *ngFor="let product of filterByGroup(group); trackBy: trackProducts"
          (click)="addToCart($event, product)"
          class="products-container__item"
          #currentCategoryList
        >
          <img
            src="{{
              product.image?.length ? product.image : './assets/no-image.png'
            }}"
            alt="{{ product.name }}"
          />
          <div class="products-container__name-container">
            <p>{{ product.name }}</p>
          </div>
          <p class="products-container__product-composition">
            {{ product.description }}
          </p>
          <div class="products-container__item-footer">
            <span>{{ product.price }}₽</span>
            <button class="products-container__add-to-cart">В корзину</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedGroup && selectedGroup.name !== 'Все'">
    <div class="products-container__items">
      <div
        *ngFor="let product of filterByGroup(); trackBy: trackProducts"
        (click)="addToCart($event, product)"
        class="products-container__item"
        #currentCategoryList
      >
        <img
          *ngIf="!product.image"
          src="./assets/no-image.png"
          alt="{{ product.name }}"
        />
        <img
          *ngIf="product.image"
          src="{{ product.image }}"
          alt="{{ product.name }}"
        />
        <div class="products-container__name-container">
          <p>{{ product.name }}</p>
        </div>
        <p class="products-container__product-composition">
          {{ product.description }}
        </p>
        <div class="products-container__item-footer">
          <span>{{ product.price }}₽</span>
          <button class="products-container__add-to-cart">В корзину</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #loadingEl>
  <div
    class="angular-spinner-container"
    style="width: fit-content; height: 100%; margin: 16px auto"
  >
    <p-progressSpinner styleClass="angular-spinner"></p-progressSpinner>
  </div>
</ng-template>
