@import 'src/sass/mixins';

:host {
  .products-container {
    width: 100%;
    max-width: 1208px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 64px;

    &__category-name-container {
      margin-bottom: 16px;

      h1 {
        font-size: 30px;
        font-weight: 500;
      }

      .bread-crumbs {
        font-weight: 600;
        color: #9d9d9d;
        font-size: 16px;

        .all {
          margin-right: 4px;
          cursor: pointer;
        }

        .selected-category {
          color: var(--orange-main);
          margin-left: 4px;
        }
      }
    }

    &__filters-container {
      width: 100%;
      margin: 12px auto 24px auto;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      label {
        margin: 8px;
        font-size: 14px;
      }
    }

    &__categories-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 14px;
      align-items: center;
      overflow-x: auto;
      width: auto;
      margin-right: 16px;
      gap: 8px;

      &::-webkit-scrollbar {
        height: 0;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
        background-color: #f9f9fd;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(180deg, #00c6fb, #005bea);
      }

      .group-container {
        font-weight: 600;
        padding: 8px 24px;
        transition: all 0.5s;
        border-radius: 1.125rem;
        text-align: center;
        background: #ededed;
        border: none;
        min-width: fit-content;
        cursor: pointer;

        &.non-visible {
          display: none;
        }

        &.active {
          color: #fff;
          background: var(--orange-main);
          border: none;
        }

        @include hover-supported() {
          color: #fff;
          background: var(--orange-main);
          border: none;
        }
      }
    }

    &__items {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;
      margin: 0 auto;
    }

    &__category-container {
      display: flex;
      flex-direction: column;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 48px 0 16px;

        h2 {
          margin: 0;
          font-size: 30px;
          font-weight: 500;
          max-width: 150px;
        }

        button {
          padding: 8px 26px;
          background: var(--orange-main);
          border: none;
          border-radius: 1.125rem;
          color: #fff;
          transition: all 0.3s;

          @include hover-supported() {
            box-shadow: 0 0 10px 5px rgb(211 211 211);
          }
        }
      }
    }

    &__item {
      height: auto;
      min-height: 200px;
      width: 290px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-bottom: 38px;
      transition: all 0.3s;
      cursor: pointer;

      img {
        width: 100%;
        margin: 0 auto;
        height: 190px;
        object-fit: cover;
        border-radius: 1.125rem;
        transition: all 0.3s;
      }

      @include hover-supported() {
        scale: 1.01;
        border: none;

        img {
          box-shadow: 0 0 10px 5px rgb(221 221 221);
          border: none;
        }
      }
    }

    &__name-container {
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin-top: 8px;

      p {
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        margin-bottom: 6px;
      }
    }

    &__add-to-cart {
      padding: 8px 26px;
      background: var(--orange-main);
      border: none;
      border-radius: 1.125rem;
      color: #fff;
    }

    &__item-footer {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;

      & > span {
        font-size: 18px;
        font-weight: 600;
      }
    }

    &__product-composition {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.375;
    }
  }

  @media screen and (max-width: 1243px) {
    .products-container {
      max-width: 902px;
    }
  }

  @media screen and (max-width: 937px) {
    .products-container {
      max-width: 596px;

      &__filters-container {
        flex-direction: column-reverse;
        gap: 8px;
      }
    }
  }

  @media screen and (max-width: 631px) {
    .products-container {
      max-width: 400px;

      &__item {
        width: 100%;
      }
    }
  }
}

.mat-input-element {
  cursor: pointer;
}

.mat-stroked-button {
  border-radius: 1.125rem;
}
